<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About me!</h5>
        <p class="grey-text text-lighten-4">Jaspreet Singh Saini</p>
        <p class="grey-text text-lighten-4">
          A Blood Bank Management System that helps users find suitable blood
          donors and contact them directly via WhatsApp.Includes filtering
          options based on blood type and donation city for quick access.Built
          with NodeJS and MongoDB for backend operations, and HTML/CSS for
          responsive frontend design.
        </p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li>
            <i class="fab fa-facebook"></i
            ><a class="grey-text text-lighten-4" href=""> Facebook</a>
          </li>
          <li>
            <i class="fab fa-instagram"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://www.instagram.com/jas_saini/"
            >
              Instagram</a
            >
          </li>
          <li>
            <i class="fab fa-github"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://github.com/sainizjaspreet"
            >
              Github</a
            >
          </li>
          <li>
            <i class="fab fa-whatsapp"></i
            ><a class="grey-text text-lighten-4" href="#"> Whatsapp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Jaspreet Saini
      <a class="grey-text text-lighten-4 right" href="#">Thanks</a>
    </div>
  </div>
</footer>
